doctype html
html
  head
    title What We Do | RE-volv
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(property='og:image', content='http://revolv.local.com:8000')
    meta(property='og:description', content=' ')
    |    
    link(rel='icon', type='image/png', href='https://re-volv.org/static/images/revolv-logo.png')

    link(href='https://re-volv.org/static/lib/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    |     
    link(href='https://re-volv.org/static/lib/bootstrap/css/bootstrap-theme.min.css', rel='stylesheet')
    |     
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900,600', rel='stylesheet', type='text/css')
    link(href='https://re-volv.org/static/css/jqtransform.css', rel='stylesheet')
    |     
    link(href='https://re-volv.org/static/css/animate.css', rel='stylesheet')
    |     
    link(href='https://re-volv.org/static/css/screen.css', rel='stylesheet')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css')
    script(src='https://re-volv.org/static/js/jquery-2.1.4.min.js')
    |     
    script(src='https://cdn.firebase.com/js/client/2.4.2/firebase.js')
    |     
    script(src='https://re-volv.org/static/js/jquery.waypoints.min.js')
    |     
    script(src='https://re-volv.org/static/js/jquery.knob.js')
    |     
    script(src='https://re-volv.org/static/js/parallax.min.js')
    |     
    script(src='https://re-volv.org/static/js/hammer.min.js')
    |     
    script(src='https://re-volv.org/static/js/jquery.hammer.js')
    |     
    script(src='https://re-volv.org/static/js/jquery.jqtransform.js')
    |     
    script(src='https://re-volv.org/static/lib/bootstrap/js/bootstrap.min.js')
    script(src='https://re-volv.org/static/js/script.js')
    |     
    script(type='text/javascript', src='https://ws.sharethis.com/button/buttons.js')
    |     
    script(type='text/javascript', src='https://ss.sharethis.com/loader.js')
    |     
    |     
    link(rel='stylesheet', type='text/css', href='https://re-volv.org/static/dist/css/pages/projects-list/index.css')
    |     
    script(type='text/javascript', src='https://re-volv.org/static/js/vendor/d3.min.js')
    |     
    script(type='text/javascript', src='https://re-volv.org/static/js/base/util/util.js')
    |     
    script(type='text/javascript', src='https://re-volv.org/static/js/base/partialcircle.js')
    |     
    script(type='text/javascript', src='https://re-volv.org/static/js/base/projects-list.js')
  body
    header.header.after-scroll-header
      .container
        .lefts.pull-left
          a.logo(href='https://re-volv.org/')
        .rights.pull-right
          .pull-left
            a.component-link.btn-blue.pull-left.btn-donate(href='https://re-volv.org/signin/#signup', data-component='signup') SIGN UP
            |           
            a.component-link.btn-blue.pull-left.btn-donate(href='https://re-volv.org/signin/#login', data-component='login') SIGN IN
          |         
          a.btn-blue.btn-donate.pull-left(href='index.html') DONATE NOW
    block content
    // .divider-title Fill out details
      // block content
    |     
    |     
    |     
    |     
    |     
    |     
    |     
    |     
    |     
    footer.footer
      .container
        .row
          nav.col-menu
            dl
              dt
                a(href='https://re-volv.org/') Home
              |           
              dt
                a(href='https://re-volv.org/about-us/') About us
              |           
              dd
                a(href='https://re-volv.org/about-us/our-team/') Team
              |           
              dd
                a(href='https://re-volv.org/about-us/partners/') Partners
              |           
              dd
                a(href='https://re-volv.org/about-us/jobs/') Jobs
              |           
              dd
                a(href='https://re-volv.org/about-us/contact/') Contact us
              |           
              dd
                a(href='https://re-volv.org/about-us/blog/') Blog
              |           
              dd.hide
          // end .col-menu
          nav.col-info
            dl
              dt
                a(href='https://re-volv.org/what-we-do/') what we do
              |             
              dd
                a(href='https://re-volv.org/what-we-do/how-it-works/') How It Works
              |             
              dd
                a(href='index.html') Projects
          // end .col-info
          nav.col-info
            dl
              dt
                a(href='https://re-volv.org/get-involved/') get involved
              |             
              dd
                a(href='index.html') Donate to the Solar Seed Fund
              |             
              dd
                a(href='https://re-volv.org/get-involved/solar-ambassador-program/') Solar Ambassador Program
              |             
              dd
                a(href='https://re-volv.org/get-involved/volunteer/') Volunteer
          // end .col-info
          nav.col-info
            dl
              dt
                a(href='https://re-volv.org/solar-education/') solar education
              |             
              dd
                a(href='https://re-volv.org/solar-education/') Educational Resources
              |             
              dd
                a(href='https://re-volv.org/solar-education/solar-education-week/') Solar Education Week
          // end .col-info
          nav.col-info
            dl
              dt
                a(href='https://re-volv.org/about-us/') What is RE-volv?
              |           
              dd.hide
            |         
            p
              | We are a 501(c)(3) nonprofit organization with a mission to empower
              | people and communities to invest collectively in renewable energy.
              | All donations are tax-deductible.
            | &#x9;&#x9;
            dl
              dd
                a(href='https://old.re-volv.org/') Visit our old website
            | &#x9;&#x9;
            dl
              dt
                a(href='http://goo.gl/forms/S1TEKTNgNz') How do you like our new website?
            | &#x9;&#x9;
            p
              | Take a short survey and let us know. We would love to hear your feedback!
          // end .col-info
        // end .row
        .bottoms
          .lefts.pull-left
            a.logo(href='javascript:;')
          // end .lefts
          .rights.pull-right
            ul.social-ul
              li
                a.icon-fb.icons(href='https://www.facebook.com/solarseedfund/', target='_blank')
              |           
              li
                a.icon-tw.icons(href='https://twitter.com/RE_volv', target='_blank')
          // end .rights
        // end .bottoms
    // end .footer
    script(src='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js')
    |     
    |     
    |     
    |     
    script(type='text/javascript', src='https://re-volv.org/static/js/vendor/skrollr.min.js')
    |     
    script(type='text/javascript', src='https://re-volv.org/static/js/vendor/skrollr.menu.min.js')
    script(type='text/javascript').
      var s = skrollr.init();
      skrollr.menu.init(s, {
      animate: true,
      easing: 'sqrt'
      });
    script.
      var options={ "publisher": "None ", "position": "left", "ad": { "visible": false, "openDelay": 5, "closeDelay": 0}, "chicklets": { "items": ["", "sharethis"]}};
      var st_hover_widget = new sharethis.widgets.hoverbuttons(options);
