extends layout


block content
  .row-about
      .divider-title Proposals Sorted by Order
      .container
        .row
          .panel.panel-default
            .panel-body
              each val, key in json
                p #{key}
              h4.text-primary Organization: Organization Name
              p
                strong State:
                |  CA &nbsp;
                strong Roofed:
                |  Yes  &nbsp;
                strong Building Owners:
                |  Yes  &nbsp;
                strong Age:
                |  15
              button.btn.btn-primary(type='button', data-toggle='collapse', data-target='#card1') More Details
              #card1.collapse
                br
                h6 Organization Info
                .div Organization Type: 
                br
                .div Website: 
                br
                .div Tax ID: 
                br
                .div Building Address:
                br
                .div Billing Address:
                br
                .div Phone-Number:
                hr
                .div Roof Age:
                br
                .div Replacing Roof Soon: 
                br
                .div Electricity Provider:
                hr
                .div Energy Efficiency Upgrades: 
                hr
                .div Time in building:
                br
                .div Annual People Through Doors:
                br
                .div Demographics: 
                hr
                .div Mission Statement:
                br
                .div Interest in Solar: 
                br
                .div Looked at Solar Before:
